html,
body {
    width: 100%;
    margin: 0px;
    padding: 0px;
}


header {
    padding: 40px;
    background-color: rgb(62, 207, 226);
    color: #fff;
    text-align: center;
    font-family: 'Alfa Slab One', cursive;
    letter-spacing: 10px;
    word-spacing: 10px;
}